@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// Color variables
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);
$white: hsl(0, 0%, 100%);

// Animations
@keyframes background-desktop {
  0% {
    background-position: right 100vw bottom 100vh, left 100vw top 100vh;
  }
  60% {
    background-position: right 47vw bottom 37vh, left 47vw top 47vh;
  }
  100% {
    background-position: right 50vw bottom 40vh, left 50vw top 50vh;
  }
}

@keyframes background-mobile {
  0% {
    background-position: right 100vw bottom 100vh, left 100vw top 100vh;
  }
  60% {
    background-position: right 47vw bottom 57vh, left 47vw top 57vh;
  }
  100% {
    background-position: right 50vw bottom 60vh, left 50vw top 60vh;
  }
}

// Global resets
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  place-content: center;
  background-color: $dark-cyan;
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-size: 70vmax;
  animation: background-desktop 1.5s forwards ease-out;
}

main {
  max-width: 24rem;
  background-color: $white;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem hsla(0, 0%, 0%, 0.2);
}

.cover {
  width: 100%;
}

.profile-pic {
  border-radius: 50%;
  border: 0.3rem solid $white;
  display: block;
  margin: 0 auto;
  transform: translateY(-50%);
}

header {
  margin: -2rem auto 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  h1 {
    font-size: 1.125rem;
    color: $very-dark-desaturated-blue;
  }

  p {
    font-size: 1.125rem;
    color: $dark-grayish-blue;
  }
}

.location {
  font-size: 1rem;
  color: $dark-grayish-blue;
  text-align: center;
  margin-bottom: 1.5rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 0;
  border-top: 1px solid hsl(0, 0%, 78%);
  text-align: center;

  .number {
    font-size: 1.125rem;
    font-weight: 700;
    color: $very-dark-desaturated-blue;
  }

  .label {
    font-size: 0.7rem;
    color: $dark-gray;
    letter-spacing: 1px;
  }
}

// Media queries
@media (max-width: 840px) {
  body {
    animation: background-mobile 1.5s forwards ease-out;
  }
}
